<div class="bg-primary">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Anyone can join!</h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-magellan-50">Start saving on local stores that you already use, for free.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="btn-secondary">Get started</a>
      </div>
    </div>
  </div>
</div>
