<div class="flex flex-col border-b border-gray-200 lg:border-0">
  <div class="relative">
    <div aria-hidden="true" class="absolute hidden h-full w-1/2 bg-gray-100 lg:block"></div>
    <div class="relative bg-gray-100 lg:bg-transparent">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:grid lg:grid-cols-2 lg:px-8">
        <div class="mx-auto max-w-2xl py-24 lg:max-w-none lg:py-64">
          <div class="lg:pr-16">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl xl:text-5xl">Connecting the Magellan community with local businesses</h1>
            <p class="mt-4 text-xl text-gray-600">The Magellan Rewards Program offers exclusive incentives and discounts to local businesses.</p>
            <p class="mt-4 text-xl text-gray-600">Magellan residents & communities can take advantage of discounts from in-home-service providers, hotels, restaurants, fitness, health and wellness, pet care and much more.</p>
            <div class="mt-6">
              <a href="#" class="btn-primary">Explore Rewards</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-48 w-full sm:h-64 lg:absolute lg:right-0 lg:top-0 lg:h-full lg:w-1/2">
      <img src="https://tailwindui.com/img/ecommerce-images/home-page-02-hero-half-width.jpg" alt="" class="h-full w-full object-cover object-center">
    </div>
  </div>
</div>
